kestra/flows/duolingo.ingestion.yml
id: ingestion
namespace: duolingo
description: |
  Downloading the duolingo spaced repitition data set

inputs:
  - id: doi
    type: STRING
    defaults: "doi:10.7910/DVN/N8XJME"
  - id: file_name
    type: STRING
    defaults: "duolingo_spaced_repetition_data"

variables:
  file: "{{inputs.file_name}}.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.{{inputs.file_name}}"
  data: "{{outputs.download_and_unzip.outputFiles[inputs.file_name ~ '.csv']}}"   

tasks:

  # STEP 1 — Fetch dataset metadata
  - id: fetch_metadata
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    outputFiles:
      - metadata.json
    commands:
      - |
        curl -s \
        "https://dataverse.harvard.edu/api/datasets/:persistentId/?persistentId={{inputs.doi}}" \
        -o metadata.json

  # STEP 2 — Extract the file ID for the .csv.gz file
  - id: extract_file_id
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: alpine:3.19
    inputFiles:
      metadata.json: "{{outputs.fetch_metadata.outputFiles['metadata.json']}}"
    outputFiles:
      - file_id.txt
    commands:
      - apk add -q jq
      - |
        jq -r '
        .data.latestVersion.files[]
        | select(.dataFile.filename | endswith(".csv.gz"))
        | .dataFile.id
        ' metadata.json > file_id.txt

  # STEP 3 — Download and unzip the file
  - id: download_and_unzip
    type: io.kestra.plugin.scripts.shell.Commands
    inputFiles:
      file_id.txt: "{{outputs.extract_file_id.outputFiles['file_id.txt']}}"
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - |
        FILE_ID=$(cat file_id.txt)

        echo "Downloading file ID: ${FILE_ID}"

        curl -sL \
        "https://dataverse.harvard.edu/api/access/datafile/${FILE_ID}" \
        | gunzip > {{inputs.file_name}}.csv

        echo "Download complete"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

